<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extragaminder - Admin </title>
</head>

<body>


  <div class="container">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Information</th>
        <th>Tahun Register</th>
        <th>Alamat</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% data.forEach((el,index)=> { %>
    <tbody>
      <tr>
        <td><%= index +1 %></td>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1"><%= el.firstName %></p>
              <p class="text-muted mb-0"><%= el.User.email %></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1"><%= el.User.username %></p>
          <p class="text-muted mb-0">Jumla post: <%= el.User.Posts.length %></p>
        </td>
        <td>
          <span class="badge badge-danger rounded-pill d-inline">Active</span>
        </td>
        <td><%= el.location %></td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

</body>

</html>