<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<title>Extragaminder - Dashboard</title>
<link rel="stylesheet" href="dashboard.css">
</head>

<body>
  <div style="display: flex; justify-content:center;align-items: center;flex-direction: column;">
    <form action="">
      <input type="search" name="search">
      <button type="submit">search</button>
    </form>
    <a href="/post/add"><button>ADD NEW POST</button></a>
    <div style="width:50%;display:flex;justify-content:center;flex-direction:column;align-items:center;">
      <% dataPost.forEach( post=> { %>
        <div class="col-md-8">
          <div class="box box-widget">
            <div class="box-header with-border">
              <% dataUser.forEach(user=> { %>
                <% if(user.id == post.UserId) { %>
                  <div class="user-block">
                    <span class="username"><a href="#">
                        <%= user.username %>
                      </a></span>
                    <span class="description">Shared publicly - 7:30 PM Today</span>
                  </div>
                  <a href="/post/edit/<%= post.id %>"><button>EDIT</button></a>
                  <a href="/post/delete/<%= post.id %>"><button>DELETE</button></a>
                  <% } %>
              <% }) %>
            </div>
            <div class="box-body">
              <p><%= post.title %> </p>
              <img src="<%= post.imgUrl %>" style="width:250px;">
              <div>
                <%= post.content %> 
              </div>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">45 likes - 2 comments</span>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</body>

</html>