<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./dashboard.css"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Extragaminder - Dashboard</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div style="display: flex; justify-content:center;align-items: center;flex-direction: column;">
    <form action="">
      <input type="search" name="search" autocomplete="off" class="form-control h-25">
      <button type="submit">search</button>
      <select name="sort">
        <option selected disabled>--filter by--</option>
        <option value="title">title name</option>
        <option value="createdAt">date</option>
      </select>
      <button type="submit">sort</button>
    </form>
    <a href="/post/add/<%= id %>"><button>ADD NEW POST</button></a>
    <a href="/profile/<%= id %>"><button>YOUR PROFILE</button></a>
    <div style="width:50%;display:flex;justify-content:center;flex-direction:column;align-items:center;">
      <% dataPost.forEach( post=> { %>
        <div class="col-md-8">
          <div class="box box-widget">
            <div class="box-header with-border">
              <% dataUser.forEach(user=> { %>
                <% if(user.id==post.UserId) { %>
                  <div class="user-block">
                    <span class="username"><a href="#">
                        <%= user.username %>
                      </a></span>
                    <br>
                  </div>
                  <% if(post.UserId==id) { %>
                    <a href="/post/<%= id %>/edit/<%= post.id %>"><button>EDIT</button></a>
                    <a href="/post/<%= id %>/delete/<%= post.id %>"><button>DELETE</button></a>
                    <% } %>
                      <% } %>
                        <% }) %>
            </div>
            <div class="box-body">
              <p><%= post.title %></p>
              <div>
                <% if(post.imgUrl) { %>
                  <img src="<%= post.imgUrl %>" style="width:250px;">
                <% } %>
                <%= post.content %>
                <%= post.Tag.name %>
              </div>
              <span class="description">Shared publicly - <%= timeAgo(post.createdAt)%> </span>
              <div>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                <span class="pull-right text-muted">45 likes - 2 comments</span>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <a href="/logout"><button>Logout</button></a>
  </div>
</body>

</html>